@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #EBF5EE;
}

header{
    background-color: black;
    font-size:1.5em;
    color: white;
    text-align: center;
    padding: 10px;
}

nav{
    background-color: #087E8B;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.46);
}

.logo-topo{
    width: 80px;
}

.menu-superior{
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 95%;
}

nav > div {
    color: white;
}

.logo {
    font-variant: small-caps;
    font-size: 1.5em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.48);
}

.menu > a {
    margin-right: 20px;
    color: white;
}

nav > div > img{
    width: 100px;
}

.menu > a{
    text-decoration: none;
    font-size: 2em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.48);
}

.menu > a:visited{
    color: white;
}

.menu > a:hover{
    color: #FFCF00;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

main{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.produtos {
    text-align: center;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 40vh;
    min-height: 430px;
    vertical-align: top;
    margin: 3vw 1vw;
    padding: 40px 15px;
    box-sizing: border-box;
    border: 1px solid rgb(98, 97, 97);
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
    position: relative;
}

.produto-lista{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.produtos li:hover {
    border-color: #FFCF00;
    transform: scale(1.1);
}

.produtos li:hover  img{
    width: 80%;
}

.produto-titulo{
    font-size: 1.7em;
    font-variant: small-caps;
}

.produto-descricao{
    font-size: 1em;
    font-variant: small-caps;
}

.produto-preco{
    color: rgb(238, 34, 34);
    padding-top: 15px;
    font-size: 2em;
    font-family: monospace;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196);
}

.produtos  li  img{
    width: 70%;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #02111B;
    color: white;
}