@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root{
    --main-color: #087E8B;
    --seg-color: white;
    --backh-color: black;
    --color-link: #FFCF00;
    --titulo-produto: dimgray;
    --descricao-produto: gray;
    --font-titulo: 'DM Sans', sans-serif;
    --font-descricao: 'Montserrat', sans-serif;
    --font-texto: Arial, Helvetica, sans-serif;
    --font-preco: monospace;
}

*{
    font-family: Arial, Helvetica, sans-serif
}

.product{
    color: #087e8b00;
}

.produtos {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.produtos li {
    display: inline-block;
    width: 40vh;
    min-height: 350px;
    vertical-align: top;
    margin: 1.5vw 1vw;
    padding: 40px 15px;
    box-sizing: border-box;
    background-color: var(--seg-color);
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}

.produto-lista{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.produtos li:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.508);
    transform: scale(1.05);
}


.produto-titulo{
    font-size: 1.25rem;
    margin: 10px 20px;
    text-align: center;
    color: var(--titulo-produto);
    display: block;
    height: 80px;
}

.produto-descricao{
    font-size: 0.75em;
    margin: 10px 10px;
    text-align: left;
    color: var(--descricao-produto);
    display: block;
    width: auto;
    height: 40px;
}

.produto-preco{
    color: rgb(5, 141, 0);
    margin: 0px 10px;
    font-size: 1.5em;
    font-family: var(--font-preco);
    font-weight: bolder;
    text-align: left;
}

.produtos  li  img{
    height: 100px;
}

.historia{
    width: 70vw;
    border-radius: 10px;
    margin: 1.5rem auto;
    padding: 2rem;
    background-color: var(--seg-color);
    box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.382);
}

.historia > h1 {
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 3rem;
    font-variant: small-caps;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.397);
    padding-bottom: 20px;
}

.historia > p{
    font-family: var(--font-texto);
    font-size: 1.2em;
    text-align: justify;
    text-indent: 5em;
    padding: 1.2rem 0;
}

.historia > img{
    display: block;
    width: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.543);
}

.formulario{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: var(--main-color);
    color: var(--seg-color);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--seg-color);
}

footer  a:visited{
    color: var(--seg-color);
}

footer a:hover {
    text-decoration: underline;
}

@media  screen and (max-width: 400px) {
    .menu-superior{
        display: inline-block;
    }

    .menu {
        padding-top: 10px;
        display: block;
    }

    .menu > a {
        display: block;
        padding: 10px;
        margin: auto;
    }

    .formulario{
        width: auto;
        margin: 20px;
    }

    .enviar{
        width: 60%;
    }
}